body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}

.half-width{
    width: 50%;
    padding-left: 2%;
}

.half-width img{
    width: 60%;
}
.flexible-container{
    display: flex;
   margin-bottom: 100px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

